.scroll__button {
  position: fixed;
  cursor: pointer;
  z-index: 2000;
  font-size: 3rem;
  color: var(--color-bg-variant);
  width: 100%;
  left: 94%;
  bottom: 5rem;
  height: 20px;
}

/* ============= MEIDA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  .scroll__button {
    display: none;
  }
}

/* ============= MEIDA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  .scroll__button {
    display: none;
  }
}
