.projects__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: max-content;
  background: transparent;
  margin: 2rem auto;
}

.projects__btn {
  outline: none;
  border: 1px solid var(--color-bg-variant);
  background-color: var(--color-bg);
  font-size: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1.2rem;
}

.projects__btn:active,
.projects__btn:focus {
  background-color: var(--color-bg-variant);
  border: 1px solid var(--color-primary-variant);
}

.projects__btn:hover {
  background-color: var(--color-bg-variant);
}
.projects__btn:not(:last-child) {
  margin-right: 1rem;
}
