/*  ============= TIMELINE CONTENT ================= */

.timeline__contents {
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.timeline__left-content {
  padding-left: 20px;
  width: 30%;
  position: relative;
}

.timeline__left-content::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -9px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  background: var(--color-primary-variant);
}
.timeline__left-content p {
  display: inline-block;
}

.timeline__right-content {
  padding-left: 4.5rem;
  width: 70%;
  position: relative;
}
.timeline__right-content h6 {
  color: var(--color-primary);
}
.timeline__right-content p {
  color: var(--color-primary-variant);
}
.timeline__right-content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  width: 2.5rem;
  height: 2px;
  background: var(--color-primary);
}

/*  ============ TIMELINE SECTION ================ */

.timeline__headers {
  position: relative;
  display: flex;
  align-items: center;
}
.timeline__header {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--color-primary);
}
.timeline__header::before {
  content: attr(data-text);
  position: absolute;
  color: var(--color-primary-variant);
  width: 0;
  height: 42px;

  overflow: hidden;
  transition: 1s;
  border-right: 2px solid var(--color-primary-variant);
  -webkit-text-stroke: 1px var(--color-primary-variant);
}
.timeline__header:hover::before {
  width: 8rem;
  filter: drop-shadow(0 0 15px var(--color-primary-variant));
}

.timeline__title {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.timeline__content {
  border-left: 2px solid var(--color-primary);
}

/* ============= MEIDA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  .timeline__headers {
    justify-content: center;
  }
  .timeline__title {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .timeline__header {
    color: var(--color-primary-variant);
  }
  .timeline__header::before {
    display: none;
  }
}

/* ============= MEIDA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  .timeline__left-content {
    width: 40%;
  }
  .timeline__left-content::before {
    top: 26px;
  }
  .timeline__left-content p {
    display: flex;
  }
  .timeline__right-content {
    text-align: left;
    padding-left: 2rem;
    padding-top: 1.2rem;
  }
  .timeline__right-content::before {
    top: 32px;
    width: 1rem;
    background: var(--color-primary);
  }

  .timeline__headers {
    justify-content: center;
  }
  .timeline__title {
    justify-content: center;
  }
  .timeline__header {
    color: var(--color-primary-variant);
  }
  .timeline__header::before {
    display: none;
  }
}
